body { margin: 0; font-family: 'Noto Sans KR', sans-serif; background-color: #f9f9f9}
/*boards.css*/
#contents-wrap{width: 100%;	display: flex; flex-direction: column;}
#fixed-article-wrap{border-bottom: 1px solid #AAAAAA; }
#published-article-wrap{border-bottom: 1px solid #AAAAAA;}
.article-header{display: flex; margin-top: 47px; margin-bottom: 22px;}
.article-state-icon{width: 133px; height: 28px;}
.boards-wrap{ margin-bottom: 48px; padding: 30px;  flex-direction: column; background-color: #ffffff; margin-left: auto; margin-right: auto; width: 1140px;height: 280px;left: 155px;top: 30px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.boards-header{display: flex;}
.subject{text-align: center; line-height: auto;margin-left: auto; width: 121.11px; height: 30px; background-color: #d7d7d7; border-radius: 10px}
.boards-title-wrap{display: flex; align-items: center;}
.title{font-size: 24px;}
.userinfo{margin-left: auto; font-size: 14px; line-height: auto; color: #d7d7d7;}
.boards-article{height: 96px; margin: auto;}
.boards-footer{margin-top: 15px; display: flex;}

/*write*/
#container-write{margin-bottom: 233px;  flex-direction: column; width: 968px; height: 721px; background: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
#write-title{display: flex; }
#write-subtitle{margin-top: 15px}
#write-contents{border-style: none; width: 100%; height: 300px; margin-top: 15px;}
#container-edit{width: 916px; height: 224px; border-style: none; margin: 270px auto 22px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background-color: white;}
#addicon-wrap{margin-top: 44px; border-bottom: 1px solid #a0a0a0; width: 800px; height: 100px; display: flex; justify-content: space-between;margin: 0 auto;}
#write-primary-toolbars{display: flex; border-style: none; justify-content: space-between; margin-top: 30px; }
#write-primary-toolbars select{width: 100px; height: 30px; }
.toolbar-sparator{height: 31px; border: 1px solid #88848D;}
.text_input{border: none;}
/*#write-primary-toolbars select:not(:last-child){margin-right: 20px;}*/
/*board-article*/
/*board-simple*/
/*comment*/
button {background-color: #ffffff;}
ul {display: flex; list-style: none;}
select{border: none;}
select option{text-align: center;}
.mypage{margin-top: 38px; margin-bottom: 38px; height: 1000px;background: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 18px; }
.mypage button {border-style: none;}
.mypage-cell{margin-top: 20px; margin-bottom: 20px; border-bottom: 1px solid #c4c4c4; display: flex}
.mypage-cell input { height: 70px; }
.cell-name {margin-right: 20px; color: #626262;}

/*component.css*/
/*icons*/
/*buttons*/
.select-tag{display: flex; text-align: center; margin-top: 15px;}
#btn-container{display: flex; margin-top: 15px; }
.btn-write {width:141px; height: 50px; border: 1px solid #d7d7d7}
.btn-write:hover {background-color: #d7d7d7; }
.btn-write:not(:last-child) {margin-right: 15px;}
.category-tag:hover {background-color: #7f52ff; color: black}
/*tag*/
.add {margin-left: auto;}
.read{border-style: none;}
.btn-wrap{background-color: none;}
.tag-wrap{margin-left: auto;}
.taglist{list-style: none; display: flex;}
.tag{ border-style: none; width: 131.15px; height: 30px; border-radius: 30px; font-size: 16px; line-height: 160%; background-color: #d7d7d7; color: #000000}
.tag:not(:last-child){margin-right: 15px}
.tag:hover{background-color: #7f52ff;}

#or-card:hover{background-color: #e8e8e8;}	
#res-card:hover{background-color: #e8e8e8;}
