.article {
    background: #ddd;
    padding: .5rem;
    width: 67.2%;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.article .seriesGraph {
    background: #fff;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

.article .editoolbar {
    background: #fff;
    width: 100%;
    height: 11rem;
    margin-bottom: 1rem;
}

.editoolbar .upper {
    position: relative;
    display: flex;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
    list-style: none;
}

.editoolbar .upper svg:hover{
    color: #c0c0c0;
    cursor:pointer;
}


.article .editor {
    display: grid;
    background: #fff;
    padding: 1.7rem;;
}
.article .editor input { 
    border-style: none;
    border-bottom: 2px solid #C0C0C0;
    width: 100%;
    height: 50px;
}
.article .editor .middleRow {
    display: flex;
    justify-items: center;
}

.article .editor textarea { 
    width: 100%;
    height: 600px;
    margin-top: 1rem;
    border-style: none;

}
