.card_article_big {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    position: static;
    width: 459px;
    height: 551px;
    left: 20px;
    top: 20px;
    
    /* gray-7 */
    background: #FFFFFF;
    /* 03 dp */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);    
}

.card_article_big .card-info {
    display: flex;
    align-items: flex-end;
}

.card_article_big .card-info span {
    color: #575757;
}

.card_article_big .card-info span:not(:last-child) {
    margin-right: .5rem;
}