.SubjectCard_container {
/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 20px;

position: static;
width: 220px;
height: 107px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
margin: 0px 8px;    
}
.btn-follow {
    position: static;
    width: 75px;
    height: 24px;
    left: 105px;
    top: 33px;
    
    /* gray-4 */
    background: #A0A0A0;
    border-radius: 19px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;    
}