.SubjectCard_container{
    width: 220px;
    height: 107px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.07);
    padding: .5rem;
    vertical-align: middle;
}

.SubjectCard_container .head-row {
    display: flex;
}

.SubjectCard_container .title {
    display: flex;
}

.SubjectCard_container .btn-follow {
    grid-area: btn;
    border-radius: 19px;
    background: #a0a0a0;
    color: #fff;
    width: 75px;
    height: 24px;
    border-style: none; 
    margin-left: auto;
}

.SubjectCard_container .bottom-row .TotalPost {
    display: flex;
}

.SubjectCard_container .bottom-row .TotalFollower {
    display: flex;
    margin-left: auto;
}

.SubjectCard_container .bottom-row {
    display: flex;

}