.Category {
    display: flex; 
    justify-content: center;
    color: #000; 
    padding: 0;
    width: 100%;
}
.Category button {

    text-decoration: none;
    width: 170px;
    height: 112px;
    margin-top: 7rem;
    margin-bottom: 5rem;;
    margin-right: 2rem;
    margin-left: 1rem;
    background: #fff;
    border-style: none;
    /* 03 dp */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* cursor setting */
    cursor: pointer;
    /* Applied grid Layout*/
    display: grid; 
    list-style: none;
    justify-content: center;
  }

.Category button a{
    text-decoration: none;
}

.Category button .category_title {
    border-bottom: 1px solid;
}

.Category button p {
    font-size: 9px
}

.Category button:hover {
    background: blueviolet;
}