.contents {
    position: relative;
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


 }
.contents:hover { 
    border-color: black;
}

 .contents-header {
     display: flex;
     justify-content: space-between;
     border-bottom: 2px solid #c0c0c0;
     padding: .5rem;
     width: 1000px;


 }
 .contents-body {
     padding: 2rem;
 }
 