nav{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 100%; 
    height: 64px; 
    background-color: #f4f3f4;
    position: fixed;
    z-index: 3;
}

.nav-left-menu {
    margin-left: 1rem;
    width: 200px;
    display: flex;
}

.nav-left-menu svg {
    color:#262523;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5rem;    
}

.nav-left-menu svg:hover {
    color:blueviolet;
    cursor: pointer;
}

.Logo{
    width: 135px;
    height: 55px;
}

.nav-menu{
    display: grid; 
    grid-template-columns: repeat(3, auto); 
    gap: 3rem; 
    list-style: none;
    text-align: center;
    width : 20vw; 
    justify-content: end;
    margin-right: 1rem;
}

.nav-menu a svg{
    color:#262523
} 

.nav-menu a svg:hover{
    color: #fff;
    background-color:#262523;
    border-radius:12px;
} 
