.HotTagForm {
    display: flex;
    flex-direction: column;
    width: 291px;
    height: 334px;
    padding: 1rem;
    /* gray-7 */
    background: #FFFFFF;
    /* 03 dp */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.HotTagForm .title{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: bold;
    padding: .3rem;
    margin-bottom: .5rem;
}