@charset "utf-8";
@media(max-width: 767px) {
	.sidebar.active{width: 100%}

}
body { margin: 0; font-family: 'Noto Sans KR', sans-serif; }

.sidebar{overflow: hidden; 
	cursor: pointer; 
	width: 0px; 
	margin-top:64px; 
	position: fixed; 
	top: 0;
	left: 0px; 
	bottom: 0; 
	height: 100%; 
	background: #f4f3f4; 
	transition: 850ms; 
	z-index: 0; }

.sidebar.active {
	width: 250px
}
.sidebar.active:before { 
	content: none; 
}


