.card_container {
    background: #fff;
    display: grid;
    width: 944px;
    height: 181px;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;

}

.card_container:hover {
    background: #efe4ff;
    border-radius: 15px;
}

.card_container .head-row {
    margin-left: auto;
    display: flex;
}

.card_container .mid-row {
    display: flex;
}

.card_container .mid-row .Number {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    color: #575757;
}

.card_container .title {
    margin-left: 10px;    
}

.card_container .mid-row .headline {
    font-weight: 400;
    line-height: 25px;
    color: 262528;
}



.card_container .mid-row .userInfo {
    margin-left: auto;
    display: flex;
}

.card_container .bottom-row{
    display: flex;
}

.card_container .bottom-row .reply {
    margin-left: auto;
    display: flex;
}

.reply .comment, .origin {
    margin-right: 1rem;
}

