.card_container {
    background: #fff;
    display: grid;
    width: 984.5px;
    height: 181px;
    padding: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card_container:hover {
    background: #efe4ff;
}

.card_container .head-row {
    display: flex;
    height: 25%;
}

.card_container .mid-row {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.card_container .mid-row .rank {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    color: #575757;
}

.card_container .title {
    margin-left: 10px;    
}

.card_container .mid-row .headline {
    font-weight: 400;
    line-height: 25px;
    color: #262528;
}



.card_container .mid-row .userInfo {
    margin-left: auto;
    display: flex;
}

.card_container .bottom-row{
    display: flex;
    height: 10%;
}

.card_container .bottom-row .reply {
    margin-left: auto;
    display: flex;
}

.reply .comment, .origin {
    margin-right: 1rem;
}

.expandPostCard {
    position: relative;
    width: auto;
    height: auto;
    padding: 0.5rem;
}

.expandPostCard >.top {
    height: "30%";
    padding: 15px;
    border-bottom: 1px solid #262528;
}

.expandPostCard >.bottom {
    height: "80%";
}

.expandPostCard >.bottom> ul> li {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.expandPostCard >.bottom> ul> li:hover {
    border: 1px solid #000;
    border-radius: .4rem;
}




