.pfwrap {
    background: #ddd;
}

.pfwrap .head {
    border-bottom: 3px solid #c0c0c0;
    margin-bottom: 1rem;
}

.pfwrap .head .upper {
    display: flex;
    margin-bottom: 1rem;
    gap: .5rem;
}

.pfwrap .head .bottom {
    margin-bottom: 1rem;;
}

.pfwrap .contents .contents_head {
    display: flex;
    justify-content: space-between;
}

.pfwrap .contents .contents_head button {
    border-style: none;
    background: none;
}
