.SeriesCoverForm {
    width: 100%;
    height:200px;
    padding: .5rem;
    border-style: 3px solid #c0c0c0;
    border-radius: 5px;
}

.SeriesCoverForm .FormMain {
    display: flex;
    flex-direction: column;
    background: #c0c0c0;
    height: 75%;
    padding: .5rem;
}

.SeriesCoverForm .FormMain .subject{
    margin-left: auto;
    width: 110px;
    height: 24px;
    border-radius: 10px;
    background: #A567F3;
    align-items: center;
    text-align: center;
}

.SeriesCoverForm .FormMain .title{
    text-align: center;
    font-size: xx-large;
}
    
.SeriesCoverForm .FormInfo {
    padding: .5rem;
}