.BtnToggleSidebar{
    display: flex;
    /* margin-left: 2rem; */
    font-size: 1.5rem;
    background: none;
    align-items: center; 
}

.sideToggle {
    background-color: #f4f3f4;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    
}

.sideToggle .active{
    left: 0;
    transition: 350ms;
}