.wrapper {
    margin-top: 1rem;
    padding: 1rem;
}

.head-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .head-row .tabs {
    margin-bottom: 0;

}

.wrapper .head-row .tabs li{
    border: 1px solid #ddd;
    color: #575757;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;


}

.wrapper .head-row .tabs li:hover {
    background: #ddd;
}

.SortContainer {
    list-style: none;
    display: flex;
}

.SortContainer li:not(:last-child) {
    margin-right: 20px;

}

.SortContainer li:hover {
    background : #ffedde; 
    color:  #F67600;
    border-radius: .3rem;
}

.tabs {
    display: flex;
    list-style: none;
}

.TabContents {
    background: #ddd;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}