.userCard {
    background: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* 02 dp */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 1rem;

}

.userCard .userdata {
    width: 50%;
    display: flex;
    align-items: center;
}

.userCard .userdata > div {
 margin-right: 1rem;
}


.userCard .userdata .userName {
    display: flex;
    flex-direction: column;
}

.userCard .userdata .logState {
    background: #c0c0c0;
    color: #fff;
    width: 100px;
    height: 30%;
    border-style: none;
    border-radius: 19px;
}

.userCard .userdata .logState:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    
}

.userCard .cardState{
    display: flex;
    width: 50%;
    align-items: center;
}

.userCard .cardState .Btn-linkshare {
    width: 30%;
    text-align: end;
    cursor: pointer;
}

.userCard .Follow {
    display: flex;
    width: 70%;
}

.userCard .Follow .FollowData{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    border-right: 2px solid #ddd;
}

.userCard .Follow .FollowerData{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220%;
}