* {}
body {}

.list_article {width: 80%; height: 100%; }
.list_article .item {width: 70%; height: 181px; padding: 20px 20px 20px 26px; align-items: center}
.list_article .item .top {display: flex; flex-direction: row; margin-left: auto;}
/*.item .top:not(:last-child) {margin-right: 15px;}*/

.list_article .item .middle {display: flex; flex-direction: row; justify-content: space-between;}
.list_article .item .middle .userinfo {display: flex; }
.list_article .item .middle .userinfo .textInfo {display: flex; flex-direction: column; font-size: 12px;}


.list_article .item .bottom {display: flex; justify-content: space-between;}
.list_article .item .bottom .tagContainer{display: flex;}
.list_article .item .bottom .status {display: flex;}
.list_article.item.bottom.status {margin-right: 15px;}


.tagContainer span{width: 87px; height: 20px; background: #f4f3f4; border-radius: 30px; text-align: center; line-height: center;}